 <%-  include ('./partials/head.ejs') %>

  <%-  include ('./partials/nav.ejs') %>

    <div class="blog-content">
        <h2>All Blogs Content</h2>
    </div>

    <div class="about-content">
        <h2>About Us</h2>
        <p>This blog is a platform where I share my personal experiences, thoughts, and insights on various topics. I hope you find the content engaging and thought-provoking.</p>
        <p>Feel free to reach out through the contact page if you have any questions or feedback!</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugit rerum, quasi explicabo accusantium recusandae
             eum corrupti veniam eaque
             alias ab quo distinctio at illo obcaecati excepturi! Doloremque ad possimus voluptate.</p>
             <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum. Doloribus, cumque. Quasi,
             voluptatum. Doloribus, cumque. Quasi, voluptatum. Dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum. Doloribus, cumque. Quasi, voluptatum. Doloribus, cumque. Quasi, voluptatum. Doloribus, cumque. Quasi, voluptatum.</p>
    </div>

    
     <%-  include ('./partials/footer.ejs') %>
</body>
</html>